<h1>Welcome to HappyPets, <%= @user.User_Name %></h1>
  <p>
    You have successfully signed up to HappyPets,
    your username is: <%= @user.User_Name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>